<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FilmsApp.Properties.Settings.MovieDBConnectionString"
            connectionString="Data Source=DESKTOP-KMNRV0D\SQLEXPRESS;Initial Catalog=MovieDB;Persist Security Info=True;User ID=FilmApp;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>